<div th:fragment="heading">
    <h1 th:text="#{heading.welcome}"></h1>
    <nav>
        <a th:text="#{fragments.home}" th:href="@{/}">Home</a>
        <a th:text="#{fragments.directors}" th:href="@{/directors}">Directors</a>
        <a th:text="#{fragments.movies}" th:href="@{/movies}">Movies</a>
    </nav>
</div>

<div th:fragment="languages">
    <footer>
        <span th:with="currentUrl=(${@thymeleafBeans.removeLangFromUrl()})">
            <a th:href="@{${currentUrl}(lang=ie)}">Irish</a>
        </span>
        <span th:with="currentUrl=(${@thymeleafBeans.removeLangFromUrl()})">
            <a th:href="@{${currentUrl}(lang=fr)}">French</a>
        </span>
    </footer>
    <span>&copy;Adam and Colin</span>
</div>
