<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />

    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<div class="centre">
	<h1 th:text="#{fragments.login}"></h1>
    <header th:insert="fragments :: heading"></header>
    <main>
    	<form method="post" th:action="@{/log_me_in}">
    	<table>
    	<tr>
			<td><label for="username" th:text="#{login.username}">Username</label></td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td><label for="password" th:text="#{login.password}">Password</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        </table>
        	<button type="submit" th.value="#{login.login}">Login</button>
        </form>
    </main>
   <footer th:insert="fragments :: languages"></footer>
</div>

</body>
</html>
