<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<div class="centre">
	<h1 th:text="#{fragments.movies}"></h1>
    <header th:insert="fragments :: heading"></header>
    <div>
        <span th:text="${noMovies}"/>
        <span th:text="${moviesByDirector}"></span>
        <table>
            <tr>
                <th th:text="#{movies.id}">ID</th>
                <th th:text="#{movies.title}">Title</th>
                <th th:text="#{movies.year}">Year</th>
            </tr>
            <tr th:each="movie: ${movies}" th:object="${movie}">
                <td th:text="*{movieID}">ID</td>
                <td th:text="*{title}">Title</td>
                <td th:text="*{year}">Year</td>
            </tr>
        </table>
    </div>
    <footer th:insert="fragments :: languages"></footer>
</div>

</body>
</html>
